@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?597iq4');
  src: url('fonts/icomoon.eot?597iq4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?597iq4') format('truetype'),
    url('fonts/icomoon.woff?597iq4') format('woff'),
    url('fonts/icomoon.svg?597iq4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: '\e957';
}
.icon-delete_btn:before {
  content: '\e954';
}
.icon-minus:before {
  content: '\e955';
}
.icon-plus:before {
  content: '\e956';
}
.icon-copy:before {
  content: '\e953';
}
.icon-robot .path1:before {
  content: '\e941';
  color: rgb(236, 38, 143);
}
.icon-robot .path2:before {
  content: '\e942';
  margin-left: -0.978515625em;
  color: rgb(76, 41, 125);
}
.icon-robot .path3:before {
  content: '\e943';
  margin-left: -0.978515625em;
  color: rgb(76, 41, 125);
}
.icon-robot .path4:before {
  content: '\e944';
  margin-left: -0.978515625em;
  color: rgb(76, 41, 125);
}
.icon-robot .path5:before {
  content: '\e945';
  margin-left: -0.978515625em;
  color: rgb(76, 41, 125);
}
.icon-robot .path6:before {
  content: '\e946';
  margin-left: -0.978515625em;
  color: rgb(76, 41, 125);
}
.icon-robot .path7:before {
  content: '\e947';
  margin-left: -0.978515625em;
  color: rgb(76, 41, 125);
}
.icon-robot .path8:before {
  content: '\e948';
  margin-left: -0.978515625em;
  color: rgb(76, 41, 125);
}
.icon-star .path1:before {
  content: '\e949';
  color: rgb(73, 47, 141);
}
.icon-star .path2:before {
  content: '\e94a';
  margin-left: -1.078125em;
  color: rgb(73, 47, 141);
}
.icon-star .path3:before {
  content: '\e94b';
  margin-left: -1.078125em;
  color: rgb(73, 47, 141);
}
.icon-star .path4:before {
  content: '\e94c';
  margin-left: -1.078125em;
  color: rgb(237, 63, 150);
}
.icon-thumbsup .path1:before {
  content: '\e94d';
  color: rgb(73, 47, 141);
}
.icon-thumbsup .path2:before {
  content: '\e94e';
  margin-left: -1.01171875em;
  color: rgb(73, 47, 141);
}
.icon-thumbsup .path3:before {
  content: '\e94f';
  margin-left: -1.01171875em;
  color: rgb(237, 63, 150);
}
.icon-thumbsup .path4:before {
  content: '\e950';
  margin-left: -1.01171875em;
  color: rgb(73, 47, 141);
}
.icon-thumbsup .path5:before {
  content: '\e951';
  margin-left: -1.01171875em;
  color: rgb(73, 47, 141);
}
.icon-thumbsup .path6:before {
  content: '\e952';
  margin-left: -1.01171875em;
  color: rgb(73, 47, 141);
}
.icon-newenergy:before {
  content: '\e940';
  color: #4c1e87;
}
.icon-delete:before {
  content: '\e93f';
}
.icon-assistant .path1:before {
  content: '\e900';
  color: rgb(77, 45, 131);
}
.icon-assistant .path2:before {
  content: '\e901';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-assistant .path3:before {
  content: '\e902';
  margin-left: -1em;
  color: rgb(236, 36, 143);
}
.icon-assistant .path4:before {
  content: '\e903';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-assistant .path5:before {
  content: '\e904';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-assistant .path6:before {
  content: '\e905';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-brand-logo:before {
  content: '\e906';
  color: #e61d84;
}
.icon-burger-tab:before {
  content: '\e907';
  color: #bbbcbc;
}
.icon-chat-tab:before {
  content: '\e908';
  color: #bbbcbc;
}
.icon-claim .path1:before {
  content: '\e90c';
  color: rgb(79, 46, 131);
}
.icon-claim .path2:before {
  content: '\e90d';
  margin-left: -1em;
  color: rgb(79, 46, 131);
}
.icon-claim .path3:before {
  content: '\e90e';
  margin-left: -1em;
  color: rgb(79, 46, 131);
}
.icon-claim .path4:before {
  content: '\e90f';
  margin-left: -1em;
  color: rgb(236, 38, 142);
}
.icon-claim .path5:before {
  content: '\e910';
  margin-left: -1em;
  color: rgb(79, 46, 131);
}
.icon-claim .path6:before {
  content: '\e911';
  margin-left: -1em;
  color: rgb(79, 46, 131);
}
.icon-faq .path1:before {
  content: '\e912';
  color: rgb(73, 47, 141);
}
.icon-faq .path2:before {
  content: '\e913';
  margin-left: -1em;
  color: rgb(237, 63, 150);
}
.icon-faq .path3:before {
  content: '\e914';
  margin-left: -1em;
  color: rgb(73, 47, 141);
}
.icon-faq .path4:before {
  content: '\e915';
  margin-left: -1em;
  color: rgb(73, 47, 141);
}
.icon-flash:before {
  content: '\e916';
  color: #4f2e83;
}
.icon-incidents .path1:before {
  content: '\e917';
  color: rgb(236, 36, 143);
}
.icon-incidents .path2:before {
  content: '\e918';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-incidents .path3:before {
  content: '\e919';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-incidents .path4:before {
  content: '\e91a';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-main-tab:before {
  content: '\e91b';
  color: #bbbcbc;
}
.icon-man:before {
  content: '\e91c';
  color: #ababad;
}
.icon-notifications-tab:before {
  content: '\e91d';
  color: #bbbcbc;
}
.icon-people:before {
  content: '\e91e';
  color: #ababad;
}
.icon-phonebook .path1:before {
  content: '\e91f';
  color: rgb(236, 36, 143);
}
.icon-phonebook .path2:before {
  content: '\e920';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-phonebook .path3:before {
  content: '\e921';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-phonebook .path4:before {
  content: '\e922';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-phonebook .path5:before {
  content: '\e923';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-phonebook .path6:before {
  content: '\e924';
  margin-left: -1em;
  color: rgb(77, 45, 131);
}
.icon-salary .path1:before {
  content: '\e925';
  color: rgb(78, 45, 132);
}
.icon-salary .path2:before {
  content: '\e926';
  margin-left: -1em;
  color: rgb(78, 45, 132);
}
.icon-salary .path3:before {
  content: '\e927';
  margin-left: -1em;
  color: rgb(78, 45, 132);
}
.icon-salary .path4:before {
  content: '\e928';
  margin-left: -1em;
  color: rgb(78, 45, 132);
}
.icon-salary .path5:before {
  content: '\e929';
  margin-left: -1em;
  color: rgb(237, 38, 144);
}
.icon-schedule .path1:before {
  content: '\e92a';
  color: rgb(237, 63, 150);
}
.icon-schedule .path2:before {
  content: '\e92b';
  margin-left: -1em;
  color: rgb(73, 47, 141);
}
.icon-schedule .path3:before {
  content: '\e92c';
  margin-left: -1em;
  color: rgb(73, 47, 141);
}
.icon-search-tab:before {
  content: '\e92d';
  color: #bbbcbc;
}
.icon-service .path1:before {
  content: '\e92e';
  color: rgb(79, 46, 131);
}
.icon-service .path2:before {
  content: '\e92f';
  margin-left: -1.0009765625em;
  color: rgb(236, 38, 142);
}
.icon-service .path3:before {
  content: '\e930';
  margin-left: -1.0009765625em;
  color: rgb(79, 46, 131);
}
.icon-situation .path1:before {
  content: '\e931';
  color: rgb(73, 47, 141);
}
.icon-situation .path2:before {
  content: '\e932';
  margin-left: -1em;
  color: rgb(73, 47, 141);
}
.icon-situation .path3:before {
  content: '\e933';
  margin-left: -1em;
  color: rgb(237, 63, 150);
}
.icon-tasks .path1:before {
  content: '\e934';
  color: rgb(77, 45, 131);
}
.icon-tasks .path2:before {
  content: '\e935';
  margin-left: -1.0009765625em;
  color: rgb(236, 36, 143);
}
.icon-tasks .path3:before {
  content: '\e936';
  margin-left: -1.0009765625em;
  color: rgb(77, 45, 131);
}
.icon-tasks .path4:before {
  content: '\e937';
  margin-left: -1.0009765625em;
  color: rgb(77, 45, 131);
}
.icon-timer .path1:before {
  content: '\e938';
  color: rgb(235, 65, 150);
}
.icon-timer .path2:before {
  content: '\e939';
  margin-left: -1em;
  color: rgb(75, 49, 142);
}
.icon-timer .path3:before {
  content: '\e93a';
  margin-left: -1em;
  color: rgb(75, 49, 142);
}
.icon-sircle-plus:before {
  content: '\e93e';
  color: #dcdcdb;
}
.icon-arrow:before {
  content: '\e93b';
}
.icon-arrow_back:before {
  content: '\e93c';
  color: #452c7a;
}
.icon-heart:before {
  content: '\e93d';
  color: #c82b89;
}
.icon-checklist .path1:before {
  content: '\e909';
  color: rgb(79, 46, 131);
}
.icon-checklist .path2:before {
  content: '\e90a';
  margin-left: -1.0009765625em;
  color: rgb(236, 38, 142);
}
.icon-checklist .path3:before {
  content: '\e90b';
  margin-left: -1.0009765625em;
  color: rgb(79, 46, 131);
}
.icon-energy-star:before {
  content: '\e9d9';
}
