@font-face {
    font-family: 'Svyaznoy Sans';
    src: url('SvyaznoySans-Medium.eot');
    src: url('SvyaznoySans-Medium.eot?#iefix') format('embedded-opentype'),
        url('SvyaznoySans-Medium.woff2') format('woff2'),
        url('SvyaznoySans-Medium.woff') format('woff'),
        url('SvyaznoySans-Medium.ttf') format('truetype'),
        url('SvyaznoySans-Medium.svg#SvyaznoySans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Svyaznoy Sans';
    src: url('SvyaznoySans.eot');
    src: url('SvyaznoySans.eot?#iefix') format('embedded-opentype'),
        url('SvyaznoySans.woff2') format('woff2'),
        url('SvyaznoySans.woff') format('woff'),
        url('SvyaznoySans.ttf') format('truetype'),
        url('SvyaznoySans.svg#SvyaznoySans') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Svyaznoy Sans';
    src: url('SvyaznoySans-Light.eot');
    src: url('SvyaznoySans-Light.eot?#iefix') format('embedded-opentype'),
        url('SvyaznoySans-Light.woff2') format('woff2'),
        url('SvyaznoySans-Light.woff') format('woff'),
        url('SvyaznoySans-Light.ttf') format('truetype'),
        url('SvyaznoySans-Light.svg#SvyaznoySans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Svyaznoy Sans';
    src: url('SvyaznoySans-Bold.eot');
    src: url('SvyaznoySans-Bold.eot?#iefix') format('embedded-opentype'),
        url('SvyaznoySans-Bold.woff2') format('woff2'),
        url('SvyaznoySans-Bold.woff') format('woff'),
        url('SvyaznoySans-Bold.ttf') format('truetype'),
        url('SvyaznoySans-Bold.svg#SvyaznoySans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

